{% load staticfiles %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="" style="background-color: #f6f6f6; font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; margin: 0; padding: 0;-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="background-color: #f6f6f6;width: 100%;">
        <tr>
            <td>&nbsp;</td>
            <td style="display: block;margin: 0 auto !important;padding: 10px;">
                <div style="box-sizing: border-box;display: block;margin: 0 auto;padding: 10px;">
                    <!-- START CENTERED WHITE CONTAINER -->
                    <table role="presentation" class="main" style="background: #ffffff;border-radius: 3px;width: 100%;">
                        <!-- START MAIN CONTENT AREA -->
                        <tr>
                            <td style="box-sizing: border-box;padding: 20px;">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            {% block contenido %}{% endblock contenido %}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- END MAIN CONTENT AREA -->
                    </table>
                    <!-- END CENTERED WHITE CONTAINER -->
                    <!-- START FOOTER -->
                    <div class="footer" style="clear: both;margin-top: 10px;text-align: center;width: 100%;">
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                            <tr>
                                <td style="padding-bottom: 10px;padding-top: 10px;color: #999999;font-size: 12px;text-align: center;">
                                    <span style="color: #999999;font-size: 12px;text-align: center;">
                                        Lojagas
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: #999999;font-size: 12px;text-align: center;">© 2022 Copyright</td>
                            </tr>
                        </table>
                    </div>
                    <!-- END FOOTER -->
                </div>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</body>
</html>