{% extends "emails/base.html" %}
{% load staticfiles%}

{% block contenido %}
<h2 style="color:#273d6d;font-family:sans-serif;font-weight:400;line-height:1.4;margin:0;margin-bottom:30px;">
    &#9741; Reporte de Actualizacion de Odometros en Softflot
</h2>
<p>
    Fecha de reporte: {{ fecha }}
</p>
<h4 style="color:#273d6d;font-family:sans-serif;font-weight:400;line-height:1;margin:0;margin-bottom:4px;">
    <b>
        VEHICULOS
    </b>
</h4>
<table border="1" cellpadding="1" cellspacing="0" style="border-collapse:collapse;width:100%">
    <thead>
        <tr style="text-align: left;">
            {% for col in columnas_template %}
                <th style="font-family:sans-serif;font-size:12px;">{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for registro in lista_registros %}
            <tr>
                <td style="font-family:sans-serif;font-size:12px;">{{ registro.placa }}</td>
                <td style="font-family:sans-serif;font-size:12px;">{{ registro.gpsidentificador }}</td>
                <td style="font-family:sans-serif;font-size:12px;">{{ registro.lectura }}</td>
                <td style="font-family:sans-serif;font-size:12px;">{{ registro.ultima_actua }}</td>
                <td style="font-family:sans-serif;font-size:12px;">{{ registro.observacion }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock contenido %}